.square{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 618px;
    max-height: 618px;
    margin-left: 500px;
}

.mole{
    background-image: url("mole.jpg");
    background-size:cover ;
}